@import url('https://fonts.googleapis.com/css?family=Cabin');
body {
    background-color: #f3f3f3;
    margin: 0px;
    font-family: 'Cabin', sans-serif;
    color: #333333;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    box-sizing: content-box;
}


/*---------HEADER----------*/

#header {
    width: 100%;
    height: 250px;
    max-height: 150px;
    min-height: 80px;
    background-color: white;
    border: 1px solid #83CF7A;
    box-sizing: content-box;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: visible;
    z-index: 100;
}

#header-first {
    width: 100%;
    height: 70%;
    background-color: white;
    border-bottom: 1px solid #83CF7A;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    z-index: 10;
}

#header-second {
    width: 100%;
    height: 30%;
    max-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*FIRST ROW*/

#first-row {
    width: 100%;
    max-width: 900px;
    min-width: 730px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 70px;
    z-index: 2;
}

#logo {
    width: auto;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: content-box;
}

#logo1 {
    width: 40px;
    height: 100%;
    display: flex;
    background-image: url(files/telepera-logo-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: visible;
    margin-top: -10px;
    margin-right: 20px;
}

#logo:hover #logo1 {
    background-image: url(files/telepera-logo-green.svg);
}

#logo:hover #logo2 {
    background-image: url(files/telepera-text-only-green.svg);
}

#logo2 {
    width: 150px;
    max-height: 90px;
    height: 100%;
    display: flex;
    background-image: url(files/telepera-text-only-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    overflow: visible;
    align-self: center;
    margin-top: -7px;
}

#contactos {
    min-width: 400px;
    height: 100%s;
    display: flex;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: space-between;
    font-size-adjust: auto;
    align-items: center;
}

#login {
    width: auto;
    height: auto;
    display: flex;
    margin: auto;
    margin-left: 0px;
    margin-right: 10px;
    align-items: center;
    padding-bottom: 3px;
    padding-top: 3px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
}

#login:hover {
    color: #83CF7A;
}

.text-contactos {
    margin: 0px 10px 0px 10px;
    font-size-adjust: auto;
    min-width: 100px;
}

.text-contactos2 {
    margin: 0px 10px 0px 10px;
    font-size-adjust: auto;
    min-width: 100px;
    color: #333333;
    text-decoration: none;
}

.text-contactos2:hover {
    color: #83CF7A;
}

.text-link {
    color: #333333;
    text-decoration: none;
}


/*SECOND-ROW*/

.hamburger-symbol {
    display: none;
}

#close-symbol {
    display: none;
}

#second-row {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#menus {
    min-width: 600px;
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

#menu-option:hover {
    color: #83CF7A;
}

#login2 {
    display: none;
}


/*-----------HEADER-----------*/



/*--------MAIN-CONTENT--------*/

#main {
    height: 100vh;
    width: 100%;
    display: flex;
}

#main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    box-sizing: border-box;
}

#erro {
    width: 500px;
    height: 300px;
    background-image: url(files/404erro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


@media only screen and (max-width: 600px) {
    body {
        background-color: #f3f3f3;
        width: 100vw;
        height: 100%;
    }
    #header {
        width: 100vw;
        height: 100vh;
        background-color: transparent;
        display: block;
        max-height: none;
        z-index: 50;
        position: fixed;
        border: none;
    }
    #header-first {
        height: 90%;
        width: 100%;
        max-height: none;
        background-color: white;
        border: 1px solid #83CF7A;
    }
    #header-second {
        width: 100%;
        height: 90%;
        max-height: 600px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: 1px solid #83CF7A;
        box-sizing: border-box;
    }
    #first-row {
        width: 0px;
        height: 0px;
        visibility: initial;
        display: flex;
        float: left;
        display: none;
    }
    #second-row {
        width: 100%;
        height: 100%;
        min-height: 400px;
        flex-direction: column;
        justify-content: space-between;
        font-size: 22px;
        display: flex;
    }
    .hamburger-symbol {
        display: flex;
        width: 30px;
        min-height: 30px;
        position: absolute;
        z-index: 100;
        top: 25px;
        right: 30px;
        overflow: visible;
        background-image: url(files/menu.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: transparent;
        border: none;
    }
    .logo-symbol1 {
        display: flex;
        width: 35px;
        height: 55px;
        position: absolute;
        top: 13px;
        left: 30px;
        z-index: 100;
        overflow: visible;
        background-image: url(files/telepera-logo-black.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: transparent;
        border: none;
    }
    #buttons {
        width: 100vw;
        min-height: 50px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 25px 0px auto 0px;
    }
    #close-symbol {
        display: flex;
        align-self: flex-start;
        width: 30px;
        min-height: 30px;
        overflow: visible;
        z-index: 100;
        background-image: url(files/close.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: transparent;
        border: none;
        margin-right: 30px;
    }
    #menus {
        width: 100%;
        min-width: 50px;
        height: 100%;
        max-height: 400px;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        text-align: center;
        display: flex;
        margin-top: 50px;
        margin-bottom: 0px;
    }
    #menu-option {
        width: auto;
    }
    #login2 {
        height: 30px;
        display: flex;
        align-self: center;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 14px;
        color: #333333;
        margin: 50px auto 50px auto;
    }
    /*--------CONTENT-------*/
    
    
    
    #main {
        height: 100vh;
        width: 100vw;
    }
    #main-content {
        height: 100%;
        width: 100%;
        padding-top: 0px;
    }
    
    #erro {
        width: 80%;
        height: 100%;
    }
    
}
