@import url('https://fonts.googleapis.com/css?family=Cabin');
body {
    background-color: #f3f3f3;
    margin: 0px;
    font-family: 'Cabin', sans-serif;
    color: #333333;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    box-sizing: content-box;
}

#main {
    height: 2270px;
    width: 100%;
    display: flex;
}


/*---------HEADER----------*/

#header {
    width: 100%;
    height: 250px;
    max-height: 150px;
    min-height: 80px;
    background-color: white;
    border: 1px solid #83CF7A;
    box-sizing: content-box;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: visible;
    z-index: 100;
}

#header-first {
    width: 100%;
    height: 70%;
    background-color: white;
    border-bottom: 1px solid #83CF7A;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    z-index: 10;
}

#header-second {
    width: 100%;
    height: 30%;
    max-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*FIRST ROW*/

#first-row {
    width: 100%;
    max-width: 900px;
    min-width: 730px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 70px;
    z-index: 2;
}

#logo {
    width: auto;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: content-box;
}

#logo1 {
    width: 40px;
    height: 100%;
    display: flex;
    background-image: url(files/telepera-logo-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: visible;
    margin-top: -10px;
    margin-right: 20px;
}

#logo:hover #logo1 {
    background-image: url(files/telepera-logo-green.svg);
}

#logo:hover #logo2 {
    background-image: url(files/telepera-text-only-green.svg);
}

#logo2 {
    width: 150px;
    max-height: 90px;
    height: 100%;
    display: flex;
    background-image: url(files/telepera-text-only-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    overflow: visible;
    align-self: center;
    margin-top: -7px;
}

#contactos {
    min-width: 400px;
    height: 100%s;
    display: flex;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: space-between;
    font-size-adjust: auto;
    align-items: center;
}

#login {
    width: auto;
    height: auto;
    display: flex;
    margin: auto;
    margin-left: 0px;
    margin-right: 10px;
    align-items: center;
    padding-bottom: 3px;
    padding-top: 3px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
}

#login:hover {
    color: #83CF7A;
}

.text-contactos {
    margin: 0px 10px 0px 10px;
    font-size-adjust: auto;
    min-width: 100px;
}

.text-contactos2 {
    margin: 0px 10px 0px 10px;
    font-size-adjust: auto;
    min-width: 100px;
    color: #333333;
    text-decoration: none;
}

.text-contactos2:hover {
    color: #83CF7A;
}

.text-link {
    color: #333333;
    text-decoration: none;
}


/*SECOND-ROW*/

.hamburger-symbol {
    display: none;
}

#close-symbol {
    display: none;
}

#second-row {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#menus {
    min-width: 600px;
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

#menu-option:hover {
    color: #83CF7A;
}

#login2 {
    display: none;
}


/*-----------HEADER-----------*/


/*------------HERO------------*/

#hero {
    display: inline-block;
    width: 100%;
    height: 400px;
    background-image: url(files/pera-banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 30%;
    background-origin: content-box;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
}


/*--------MAIN-CONTENT--------*/

#main-content {
    width: 100%;
    height: 2020px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 20;
}

#hero-overlay {
    width: 100%;
    height: 400px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 70%);
    visibility: hidden;
}

#title-cover {
    height: 220px;
    width: 100%;
    padding-left: 15%;
    padding-top: 50px;
    display: flex;
    background-color: #83CF7A;
    box-sizing: border-box;
    color: white;
    flex-direction: column;
}

#title {
    font-size: 50px;
    font-weight: bolder;
    width: 100%;
}

#subtitle {
    font-size: 20px;
    width: 100%;

}

#content {
    width: 100%;
    height: 1900px;
    background-color: #f3f3f3;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 40px;
}
#menus-main {
    width: 70%;
    min-width: 1000px;
    max-width: 1500px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu-box-big {
    width: 100%;
    max-width: 900px;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #83CF7A;
    display: flex;
    align-self: center;
    flex-direction: row;
/*    padding: 20px;*/
    margin-bottom: 20px;
    margin-left: 50px;

    box-sizing: border-box;
    color: #333333;
}

#imagem-column {
    width: 65%;
    height: 100%;
    display: flex;
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#text-column {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.menu-box {
    width: 310px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #83CF7A;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    color: #333333;
}

.title {
    font-size: 20px;
    font-weight: bold;
    width: 180px;
        height: 60px;
        position: relative;
        top: -20px;
        left: -20px;
        background-color: rgba(255,255,255,0.8);
        border-radius: 0px 0px 5px 0px;
        padding-left: 20px;
    display: flex;
    align-items: center;
}
.title-modal {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    z-index: 2;
}

.description-modal {
    display: none;
}

#imagem {
    width: 100%;
    height: 200px;
    font-size: 20px;
    font-weight: bolder;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: 0;
    border-radius: 3px;
    margin-top: 15px;
}#imagem-modal {
    width: 100%;
    height: 300px;
    font-size: 20px;
    font-weight: bolder;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    border-radius: 3px;
    margin: 15px 0px 15px 0px;
}

.description {
    font-size: 14px;
    margin-top: 15px;
    width: 90%;
}

.price {
    align-self: flex-end;
}

#butao-encomendar {
    color: #83CF7A;
    text-decoration: none;
    align-self: flex-end;
    margin-top: 20px;
}

#butao-encomendar:hover {
    color: #333333;
}

.dots {
    width: 30px;
    height: 15px;
    margin-left: 15px;
    position: relative;
    top: 35px;
    background-image: url(files/dots.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    align-self: flex-start;
    display: none;
}

.back {
    width: 25px;
    height: 60px;
    margin-left: 15px;
    position: relative;
    top: 50px;
    background-image: url(files/backarrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    align-self: flex-start;
}

.menu-box-small {
    display: none;
}


#menu-box0-modal {
    display: none;
}#menu-box1-modal {
    display: none;
}#menu-box2-modal {
    display: none;
}#menu-box3-modal {
    display: none;
}#menu-box4-modal {
    display: none;
}#menu-box5-modal {
    display: none;
}#menu-box6-modal {
    display: none;
}

#menu-box0 {
    display: none;
}


.estudante-image {
    background-image: url(files/estudante-image.jpg);
}
.estudante-image-small {
    background-image: url(files/estudante-image-smal.jpg);
}
.individual-image {
    background-image: url(files/individual-image.jpg);
}
.duplo-image {
    background-image: url(files/duplo-image.jpg);
}
.infantil-image {
    background-image: url(files/infantil-image.jpg);
}
.familiar-image {
    background-image: url(files/familia-image.jpg);
}
.big25-image {
    background-image: url(files/big25.image.jpg);
}
.big50-image {
    background-image: url(files/big50-image.jpg);
}

/*--------MAIN-CONTENT--------*/


/*-----------FOOTER-----------*/

#footer {
    width: 100%;
    height: 250px;
    background-color: #333333;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    z-index: 0;
}

#footer-content {
    width: 1000px;
    height: 80%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 70px;
    padding: 20px 50px 20px 70px;
    margin-top: 30px;
}

#column-footer1 {
    width: 45%;
    height: 100%;
    display: flex;
    margin: 0px 15px 0px 15px;
    flex-direction: column;
    align-items: center;
}

#column-footer {
    width: 22%;
    height: 100%;
    display: flex;
    margin: 0px;
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #83CF7A;
    padding-left: 30px;
}

#logo-footer {
    width: 90%;
    height: 70px;
    background-image: url(files/telepera-full-verde.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 15px;
    padding-left: 70px;
}

#social-media-footer {
    width: 90%;
    height: 20px;
    background-image: url(files/social-media-icons.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
}

#footer-text {
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 10px;
    color: white;
    font-size: 14px;
}

#column-footer-hidden {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #f3f3f3;
        width: 100vw;
        height: 100%;
    }
    #header {
        width: 100vw;
        height: 100vh;
        background-color: transparent;
        display: block;
        max-height: none;
        z-index: 50;
        position: fixed;
        border: none;
    }
    #header-first {
        height: 90%;
        width: 100%;
        max-height: none;
        background-color: white;
        border: 1px solid #83CF7A;
    }
    #header-second {
        width: 100%;
        height: 90%;
        max-height: 600px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: 1px solid #83CF7A;
        box-sizing: border-box;
    }
    #first-row {
        width: 0px;
        height: 0px;
        visibility: initial;
        display: flex;
        float: left;
        display: none;
    }
    #second-row {
        width: 100%;
        height: 100%;
        min-height: 400px;
        flex-direction: column;
        justify-content: space-between;
        font-size: 22px;
        display: flex;
    }
    .hamburger-symbol {
        display: flex;
        width: 30px;
        min-height: 30px;
        position: absolute;
        z-index: 100;
        top: 25px;
        right: 30px;
        overflow: visible;
        background-image: url(files/menu.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: transparent;
        border: none;
    }
    .logo-symbol1 {
        display: flex;
        width: 35px;
        height: 55px;
        position: absolute;
        top: 13px;
        left: 30px;
        z-index: 100;
        overflow: visible;
        background-image: url(files/telepera-logo-black.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: transparent;
        border: none;
    }
    #buttons {
        width: 100vw;
        min-height: 50px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 25px 0px auto 0px;
    }
    #close-symbol {
        display: flex;
        align-self: flex-start;
        width: 30px;
        min-height: 30px;
        overflow: visible;
        z-index: 100;
        background-image: url(files/close.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: transparent;
        border: none;
        margin-right: 30px;
    }
    #menus {
        width: 100%;
        min-width: 50px;
        height: 100%;
        max-height: 400px;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        text-align: center;
        display: flex;
        margin-top: 50px;
        margin-bottom: 0px;
    }
    #menu-option {
        width: auto;
    }
    #login2 {
        height: 30px;
        display: flex;
        align-self: center;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 14px;
        color: #333333;
        margin: 50px auto 50px auto;
    }
    /*--------CONTENT-------*/
    #main {
        height: 3200px;
        width: 100vw;
    }
    #main-content {
        height: 2950px;
        width: 100%;
        box-sizing: content-box;
    }
    #hero {
        background-size: cover;
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
    }
    #hero-overlay {
        height: 150px;
        background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        display: none;
    }
    #title-cover {
        height: 300px;
        z-index: 50;
        width: 100%;
        padding-top: 120px;
        padding-left: 10%;
    }
    
    #subtitle{
        font-size: 18px;
        width: 80%;
        margin-top: 10px;
    }
    
    #content {
        height: 2450px;
        width: 100%;
        padding-top: 0px;
        padding-top: 30px;
        padding-bottom: 30px;

    }
    
    #imagem {
        visibility: hidden;
    }
    
    #price-mb {
        display: none;
    }
    
    
    #menus-main {
        width: 100vw;
        min-width: 0px;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
    }
    #menu-box-big {
        display: none;
    }
    .description {
        display: none;
    }
    .description-modal {
        display: block;
        
    }
    .dots {
        display: flex;
    }
    .menu-box {
        width: 90%;
        height: 310px;
        background-color: white;
        /*        background-image: url(files/stockphoto.jpg);*/
        background-position: top;
        background-repeat: no-repeat;
        background-size: 80%;
        border: 1px solid #83CF7A;
        border-radius: 7px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    /*
    .menu-box-modal {
        width: 90%;
        height: 300px;
        background-color: white;
        background-image: url(files/stockphoto.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: 80%;
        border: 1px solid #83CF7A;
        border-radius: 7px;
        padding: 20px;
        box-sizing: border-box;
        
        display: flex;
        flex-direction: column;
    }
*/
    
    #menu-box0 {
        display: flex;
    }
    
    #menu-box6-modal, #menu-box5-modal, #menu-box4-modal, #menu-box3-modal, #menu-box2-modal, #menu-box1-modal, #menu-box0-modal {
        display: none; 
        position: fixed; 
        z-index: 10000; 
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        background-color: rgba(0,0,0,0.4); 
    }
    
    #modal-content6, #modal-content5, #modal-content4, #modal-content3, #modal-content2, #modal-content1, #modal-content0 {
        width: 310px;
        height: 550px;
        background-color: white;
        border-radius: 5px;
        border: 1px solid #83CF7A;
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-sizing: border-box;
        color: #333333;
        position: absolute;
        top: 50px;
        left: 30px;
    }
    
    #menu-box0 {
        background-image: url(files/estudante-image-smal.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
    }#menu-box1 {
        background-image: url(files/individual-image.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
    }#menu-box2 {
        background-image: url(files/duplo-image.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
    }#menu-box3 {
        background-image: url(files/infantil-image.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
    }#menu-box4 {
        background-image: url(files/familia-image.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
    }#menu-box5 {
        background-image: url(files/big25.image.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
    }#menu-box6 {
        background-image: url(files/big50-image.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
    }
    
    /*--------FOOTER--------*/
    #footer {
        height: 450px;
        position: fixed;
        bottom: 0px
    }
    #footer-content {
        width: 90%;
        height: 100%;
        flex-direction: column;
        padding: 10px 5px 10px 5px;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
    }
    #column-footer {
        width: 100%;
        height: 32%;
        margin: 0px;
        background-color: transparent;
        box-sizing: border-box;
        display: none;
    }
    #logo-footer {
        background-image: url(files/telepera-full-verde.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
    }
    #column-footer1 {
        width: 100%;
        height: auto;
        padding: none;
        padding-bottom: 50px;
        border-right: 0px;
        border-bottom: 1px solid #83CF7A;
        margin: 0px;
        box-sizing: border-box;
    }
    #social-media-footer {
        height: 30px;
        margin-top: 20px;
    }
    #column-footer-hidden {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 50px;
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 18px;
    }
}
